HW/MP3_Player.b#*
HW/MP3_Player.s#*
HW/MP3_Player.pdf
HW/MP3_Player.dru
HW/*.pdf

Resources/ 
 

HW/OSH Gerber/
HW/Datasheets/
SW/Testing/
SW/Marko WAV Player/
SW/Player_test_2/
SW/MP3 Player Marko